<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="index.html" style="font-family: 'Pacifico', cursive;">gitFit APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="about" href="#">Home</a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="portfolio" href="#">Exercises</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-value="blog" href="#">Meal Prep</a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="team" href="#"></a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="contact" href="#">Contact</a></li>
    </ul>
  </div>
</nav>





<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2 id="title">Welcome to the gitFit App. Here you will find everything you need to reach your fitness goals! </h2>
        <br>
        <h3 id="title2">Please Enter Your Stats Below.</h3>
        <br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" aria-describedby="name"
              placeholder="Enter Your Name">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" class="form-control" aria-describedby="age"
              placeholder="Enter Your Age in Human Years">
          </div>
          <div class="form-group">
            <label for="height">Height</label>
            <input type="text" id="height" class="form-control" aria-describedby="height"
              placeholder="Enter Your Height in Inches">
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input type="text" id="weight" class="form-control" aria-describedby="weight"
              placeholder="Enter Your Weight in lbs">
          </div>
          
          <br>
          {{!-- <div class="form-group">
            
           </div> --}}
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="goal">What is Your Goal?</label>
                <select id="goal">
                  <option selected value=""> -- select an option -- </option>
                  <option value="weightloss">Weight Loss</option>
                  <option value="weightgain">Gain Muscle</option>
                  <option value="eathealthy">Eat Healthy</option>
                </select>
              </div>
              </div>
​
​
​
​
​
              <div class="col-lg-4">
                <label for="physicalactivity">Physical Activity</label>
                <select id="activity">
                  <option selected value=""> -- select an option -- </option>
                  <option value="sedentary">Sedentary</option>
                  <option value="light">Lightly Active</option>
                  <option value="moderate">Moderately Active</option>
                  <option value="active">Active</option>
                  <option value="veryactive">Very Active</option>
                </select>
              </div>
​
              <div class="col-lg-4">
                <label for="sex">Gender</label>
                <select id="sex">
                  <option disabled selected value=""> -- select an option -- </option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
​
​
            </div>
            <button id="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>