.list-group-item {
  line-height: 2.5;
}
.navbar{
  background:rgb(0, 108, 249);
}
.nav-link, .navbar-brand{
  color:#f4f4f4;
  
}
.navbar-brand{
  font-size: 30px;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background: #fff !important;
}


#title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

#title2 {
  font-size: 20px;
}