#home {
  background-color: #e0e0e0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#logo{
  font-family: 'Poiret One', cursive;
  color:#ff7f08;
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}
.navbar{
  background: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: #ff7f08;
}

.nav-link{
  color:#f4f4f4;
}

.nav-link:hover {
  color:#ff7f08;
}

.navbar-brand{
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  color:#f4f4f4;
}

.navbar-brand:hover{
  color:#ff7f08;
}

.navbar-collapse{
  justify-content: flex-end;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background: #fff !important;
}


#title {
  font-family: 'Darker Grotesque', sans-serif;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

#title2 {
  font-size: 20px;
}

#stats {
  background-color: black;
  color: white;
}
#userStats {
  font-size: 30px;
}
.container {
  padding-top: 50px;
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf;

}

.list-group {
  margin-top: 10px;
  max-width: 250px;
}

#submit {
margin-top: 30px;
margin-bottom: 30px;
color: black;
background-color: #0be642;
}

#delete-btn {
  color: red;
  background-color: white;
}

#selectionList {
  position: absolute;
  top: 300px;
  bottom: 50px;
}